* {
    margin: 0px;

}


.bob {
    display: flex;
    flex-direction: column;
}
img {
    border: 2px solid white;
}


body {
    overflow-x: hidden;
    overscroll-behavior: none ;
}
.box {
border: 5px solid red;
    width: 100vw;
    height: 100vh;
}