* {
    margin: 0px;

}


.bob{
    display: flex;
    flex-direction: column;
}
img {
    border: 2px solid white;

}

.bluer {
    color: #646cff
}

.clock {
    display: flex;
    justify-content: center;
    /*border: 2px solid red;*/
    width: 100vw;

}